<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="page4.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="imgs/tick2.png" class="c-0" alt="">
            <h3>Participation Confirme</h3>
            <h3>Vous serez notifier un fois l’offre active</h3>
            <p class="small">Order number: #9876543</p>
            <div class="c-1">
                <img src="imgs/shoes.png" alt="">
                <div class="c1-content">
                    <h5>Nike Air Zoom Pegasus 36 Miami</h5>
                    <h5 class="mon">$299,43</h5>
                    
                </div>
                <div class="c1-content2">
                    <a href="#"><img src="imgs/bin.png" class="binn" alt=""></a>
                    <div class="c1c-1">
                        <a href="#"><i class="fas fa-minus"></i></a>
                        <p class="bgblue">1</p>
                        <a href="#"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="c-11">
                <p>Total</p>
                <p>5.56 euros</p>
            </div>
            
            <div class="c3-content">
                <div class="c3-content1">
                    <a href="#"><i class="fas fa-phone-alt fa-2x"></i></a>
                </div>
                <div class="c3-content2">
                    <div class="c-3">
                        <h4>Caviste Maze</h4>
                    </div>
                    <div class="c-4">
                        <i class="fas fa-store"></i>
                        <p>Ouvert</p>
                        <i class="far fa-clock"></i>
                        <p>07:30AM ~ 10:00AM ~ 01:00PM</p>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="c-5">
                <div class="face">
                    <img src="imgs/smile.png" alt="">
                </div>
                <div class="f-text">
                    <p>
                        Inviter des amis
                    </p>
                    <p>
                        et leur faire profiter
                    </p>
                </div>
            </div>
            <a href="#"><button class="btn">Inviter</button></a>
        </div>
    </div>
</body>
</html>