.green{
    color: #0ee6b0;
}
.grey{
    color: #C2BECB;
}
#textLanding{
    font-family: Manrope !important;
    font-size: 4em;
}
#landingImg{
    height: 80vh;
}

.post-item-wrap{
    border-radius: 20px;
}

.card-padded{
    width: 90% !important;
    margin: 5%;
    border-radius: 20px !important;
}
.category-description{
    font-size: 17px;
    color: black;
    font-weight: 300;
}

.darkblue{
    color: #194238 !important;
}
.imageCard{
    width: 200px; margin : 0 auto;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
    border-radius: 20px;
}
.background-image {
    background-repeat: no-repeat;
    background-position: top ;
    background-size: contain;
    border-radius: 15px;

}
.background-image.cover {
    background-repeat: no-repeat;
    background-position: top ;
    background-size: cover;
    border-radius: 15px;

}
a:hover{
    color: #0ee6b0; !important;
}
.paddedPostItem{
    padding: 0px 20px 20px 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.product-card
{
    width: 200px;
    height: 100px;
    margin-right: 25px;
}
.product-card h4
{
    font-size: 17px;
    position: absolute;
    bottom: 15px ;
    right: 45px;
    color: white;
}
.barres>div{
    height: 20px;
}
.barres{
    padding-bottom: 35px;
}
.greenfade{
    color: rgba(76, 197, 166, 1);
}
.grey{
    color: #C9CDD0;
}

.prix{
    font-size: 1.349rem;
    line-height: 1.3em;
}
.icon-search{
    font-size: 30px;
    color:#194238;
}
.t27{
    font-size: 27px;
}
.t14{
    font-size: 14px;
}
.t22{
    font-size: 22px;
}
.populaire-item{
    width: 250px;
    height: 100px;
    margin-right: 8px;
}
.slide-item.top{
    margin-bottom: 35px;
}
.populaire-item p{
    font-size: 20px;
    color: black;
}

#floatText{
    max-width: 401px ;
    margin : 0 auto
}
#splide4 img{
    width: 100%;
}

.slide-item{
    padding: 0 20px;
}
.heading-title{
    font-width: 500;
    font-size: 30px;
}
.card-product-title{
    font-weight: 100;
    margin-bottom: 0;
    line-height: 24px;
    font-size: 1.308rem;
}
.card-product-price{
    float: right;
    height: 0.2em
}
.card-product-discount{
    background-color: #A5D7CA;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    color: #5AB19C;
    padding: 5px;
    border-radius: 10px;
}
.post-item{

}
.marker{
    font-size: 23px ;
    color: #194238
}
.float-left{
    float: left;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.np-r{
    padding-right: 0;
}
.np-l{
    padding-left: 0;
}
.np-t{
    padding-top: 0;
}
.np-b{
    padding-bottom: 0;
}
.flex{
    display: inline-flex;
}
#splide1 .slide-item{
    height: 79px;
}
.cover{
    background-size: cover !important;
    border-radius: 15px;
}
.achatEnGroupe{
    padding: 50px;
}
.heading-title.masterCategorie{
    font-style: italic;
    border-bottom: 12px solid;
    height: 30px;
    display: inline-flex;
}



@media all and (min-width: 0px) and (max-width: 1000px){
    .participationCount{

    }
    .heading-title{
        font-size: 27px;
    }
    .post-item-description{

    }
    .header-card{

    }
    .prix{
        font-size: 1.1rem;
        line-height: 2em;
    }
    .card-product-title{
        font-size: 1.2rem;
    }
    .card-product-price{

    }
    .achatEnGroupe{
        padding: 30px;
    }
    .product-card h4
    {
        font-size: 14px;
        right: 25px;

    }
    .product-card{
        width: 160px;
        margin-right: 15px;
    }
    .no-absolute{
        width: 170px;
    }
    .barres>div{
        height: 10px;
    }
    .barres{
        padding-bottom: 15px;
    }
    #floatText{
        max-width: 300px;
    }
    #page-content>.container{
        padding : 0 15px;
    }
    #textLanding{
        font-size: 3em;
        text-align: center;
    }
    .paddedPostItem{
        padding: 0 10px 10px 0 !important;
    }

    .imageCard{
        width: unset;
        height: 150px;
    }

    #landingImg{
        width: 100%;
        height: unset;
    }

    .groupTextLanding{
        text-align: center;
    }
    .grid-6-columns .grid-item, .post-6-columns .post-item, .portfolio-6-columns .portfolio-item, .grid-5-columns .grid-item, .post-5-columns .post-item, .portfolio-5-columns .portfolio-item, .grid-4-columns .grid-item, .post-4-columns .post-item, .portfolio-4-columns .portfolio-item, .grid-3-columns .grid-item, .post-3-columns .post-item, .portfolio-3-columns .portfolio-item, .grid-2-columns .grid-item, .post-2-columns .post-item, .portfolio-2-columns .portfolio-item {
        width: 50% !important;
    }
    .post-item .post-item-description{
        padding : 25px 15px !important
    }
    #splide1 .col-6>p{
        font-size: 17px;
    }
    .t27{
        font-size: 24px;
    }
    .t14{
        font-size: 10px;
    }
    .t22{
        font-size: 18px;
    }
    .populaire-item{
        width: 220px;
    }
}
