<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="page1.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="c1">
            <a href="#"><img class="back" src="imgs/back.png" alt=""></a>
            <img class="heart" src="imgs/heart.png" alt="">
            <img class="body" src="imgs/body.png" alt="">
            <img class="shape" src="imgs/shape.png" alt="">
        </div>
        <div class="c2">
            <h2>Invites tes amis et aide les commercants locaux.</h2>
            <a href="#">
                <div class="whatsapp">
                    <img src="imgs/whatsapp.png" alt="">
                    <p>What'sApp</p>
                </div>
            </a>
            <a href="#">
                <div class="messenger">
                    <img src="imgs/messenger.png" alt="">
                    <p>Messenger</p>
                </div>
            </a>
            <a href="#">
                <div class="instagram">
                    <img src="imgs/instagram.png" alt="">
                    <p>instagram message</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>