@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


html {
    font-family: 'Cabin', sans-serif;
    background-color: #ccc;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    width: 420px;
    max-height: 820px;
    margin: 0rem auto;
    background-color: #fff;
    padding: 0rem 0rem 1rem 0rem;
}

.c-0 {
    margin: 0rem auto;
    display: block;
}
h3 {
    margin-bottom: .5rem;
    text-align: center;
    color: #5be7c4;
}
.small {
    text-align: center;
    font-size: .7rem;
    color: #bbb;
    margin-bottom: 1.8rem;
}
.c-1 {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    margin-bottom: 2rem;
}
.c-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.c-2 img {
    padding: .7rem;
    background-color: #f7f6fb;
    border-radius: 5rem;
    margin: 0rem 1rem;
}
.c-3 {
    margin-bottom: .6rem;
}
h4  {
    padding-left: 2rem;
}
.c-4 {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    margin-bottom: 2rem;
}
.c-4 i {
    color: #666;
}
.c-4 p {
    padding: 0rem .4rem;
}
.map {
    display: block;
    margin: 0rem auto;
    margin-bottom: 2rem;
}