<footer id="footer" class="inverted">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <div class="widget-title"><img src="{{ asset('logoNoir.png') }}"></div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">MarketPlace</div>
                                <ul class="list">
                                    <li><a href="#">Lien 1</a></li>
                                    <li><a href="#">Lien 2</a></li>
                                    <li><a href="#">Lien 3</a></li>
                                    <li><a href="#">Lien 4</a></li>
                                    <li><a href="#">Lien 5</a></li>
                                    <li><a href="#">Lien 6</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Commercant</div>
                                <ul class="list">
                                    <li><a href="#">Lien 1</a></li>
                                    <li><a href="#">Lien 2</a></li>
                                    <li><a href="#">Lien 3</a></li>
                                    <li><a href="#">Lien 4</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="widget">
                                <div class="widget-title">Politique de confidentialité</div>
                                <ul class="list">
                                    <li><a href="#">RGPD</a></li>
                                    <li><a href="#">CGV</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>