<div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
    <form class="search-form" action="{{ path('search') }}" method="get">
        <input class="form-control" name="q" type="text" placeholder="Tapez &amp; Cherchez parmis les offres...">
        <span class="text-muted">Tapez &amp; appuez sur "Entrer" ou "ESC" pour fermer</span>
    </form>
</div>