<!DOCTYPE html>
<html lang="fr">

<head>

    {% include('mvp/includes/includeMeta.html.twig') %}

    <style>
        p,a,h1,h2,h3,label,.btn{
            font-family: Cabin !important;
        }
        span{
            font-family: Cabin;
        }
    </style>
    {% block css %}
    {% endblock %}
</head>

<body data-icon="6" data-icon-color="#0ee6b0" class="boxed" style="background-color: white">
<!-- Body Inner -->
<div class="body-inner" >
    {% block header %}
        {{ include('mvp/component/header.html.twig') }}
    {% endblock %}

    {% include('mvp/component/search.html.twig') %}

    {% block bodycontent %}
    {% endblock %}



</div>
{% include('mvp/component/footer.html.twig') %}
<!-- end: Body Inner -->
<!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
<!--Plugins-->

{% include('mvp/includes/includeJS.html.twig') %}

{% block js %}{% endblock %}

</body>

</html>