{% extends 'base.html.twig' %}
{% block css %}
{% endblock %}
{% block bodycontent  %}
    <div style="background-image:url('{{ asset('background.png') }}');width: 100vw ; height: 100vh">
        <div class="minicontainer">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <p>Something</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
        </div>

    </div>

{% endblock %}