{% extends 'baseMobile.html.twig' %}
{% block css %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styleForCards.css') }}"></link>
    <style>
        .green{
            color: #0ee6b0;
        }
        .grey{
            color: #C2BECB;
        }
        #textLanding{
            font-family: Manrope !important;
            font-size: 4em;
        }
        #landingImg{
            height: 80vh;
        }

        .post-item-wrap{
            border-radius: 20px;
        }

        .card-padded{
            width: 90% !important;
            height: 90% !important;
            margin: 5%;
            border-radius: 20px !important;
        }

        .darkblue{
            color: #194238 !important;
        }
        .imageCard{
            width: 200px; margin : 0 auto;
            height: 250px;
            background-repeat: no-repeat;
            background-position: center ;
            background-size: contain;
            border-radius: 20px;
        }
        .background-image {
            background-repeat: no-repeat;
            background-position: center ;
            background-size: contain;
        }
        .paddedPostItem{
            padding: 0px 20px 20px 0px;
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .barres>div{
            height: 20px;
        }
        .greenfade{
            color: rgba(76, 197, 166, 1);
        }
        .grey{
            color: #C9CDD0;
        }

        .prix{
            font-size: 1.349rem;
            line-height: 0.9;
        }
        .icon-search{
            font-size: 30px;
            color:#194238;
        }
        .t27{
            font-size: 27px;
        }
        .t14{
            font-size: 14px;
        }
        .t22{
            font-size: 22px;
        }
        .populaire-item{
            width: 250px;
            height: 100px;
        }
        .populaire-item p{
            font-size: 20px;
        }

        #floatText{
            max-width: 401px ;
            margin : 0 auto
        }

        @media all and (min-width: 0px) and (max-width: 1000px){
            .barres>div{
                height: 10px;
            }
            #floatText{
                max-width: 300px;
            }
            #page-content>.container{
                padding : 0 15px;
            }
            #textLanding{
                font-size: 3em;
                text-align: center;
            }
            .paddedPostItem{
                padding: 0 10px 10px 0 !important;
            }

            .imageCard{
                width: unset;
                height: 150px;
            }

            #landingImg{
                width: 100%;
                height: unset;
            }

            .groupTextLanding{
                text-align: center;
            }
            .grid-6-columns .grid-item, .post-6-columns .post-item, .portfolio-6-columns .portfolio-item, .grid-5-columns .grid-item, .post-5-columns .post-item, .portfolio-5-columns .portfolio-item, .grid-4-columns .grid-item, .post-4-columns .post-item, .portfolio-4-columns .portfolio-item, .grid-3-columns .grid-item, .post-3-columns .post-item, .portfolio-3-columns .portfolio-item, .grid-2-columns .grid-item, .post-2-columns .post-item, .portfolio-2-columns .portfolio-item {
                width: 50% !important;
            }
            .post-item .post-item-description{
                padding : 25px 15px !important
            }
            .t27{
                font-size: 24px;
            }
            .t14{
                font-size: 10px;
            }
            .t22{
                font-size: 18px;
            }
        }

    </style>
{% endblock %}
{% block bodycontent  %}

    <section class="np-t np-b">
        <div class="container">
            <a id="btn-search" href="#"> <i class="icon-search"></i></a>
            <div style="float : right">
                <p style="font-size: 27px ; color: #194238">Montpellier     <span class="fa fa-map-marker"></span> </p>
            </div>
            <!-- post content -->
        </div>
    </section>
    <section>
        <div class="container">
            <!-- Blog -->
            <div id="blog" class="grid-layout post-5-columns m-b-30 grid-loaded" data-item="post-item" style="margin: 0px -20px -20px 0px; position: relative; height: 2422.9px; width: 103%">
                <!-- Post item-->
                <!-- Page title -->
                <div class="page-title post-item">
                    <h2 class="grey" style="font-weight: 100;">Près de chez vous</h2>
                    <h1 class="greenfade" style="line-height: 1em ; padding-bottom: 20px">{{ word | capitalize }}</h1>
                </div>
                <!-- end: Page title -->
                {% for campagne in campagnes %}
                    {% include('mvp/component/productCard.html.twig') %}
                {% endfor %}

                <div class="grid-loader"></div></div>
            <!-- end: Blog -->

        </div>
        <!-- end: post content -->
    </section>

{% endblock %}
{% block js %}


{% endblock %}